.btn-finalizar {
  background-color: lightgreen;
  border: none;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 3px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 13px;
  transition: all 0.1s;
  cursor: pointer;
}

.btn-finalizar:hover {
  background-color: rgb(112, 214, 112);
}

.card-activos {
  position: relative;
  height: max-content;
}

.box-buttons {
  display: flex;
}

.wasa {
  position: absolute;
  bottom: 10px;
  right: 20px;

  padding: 5px 10px;
  margin-top: 10px;
}

.card-actions-bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
}

.card-activos .btn-finalizar {
  width: auto;
  margin-top:0px;
}

.card-activos .wasa svg {
  width: 40px;
  height: 40px;
}

.wasa:hover {
  background-color: rgb(92, 202, 92);
}

@media (max-width: 500px) {
  .card-activos {
    flex-direction: column;
    justify-content: start;
    height: 330px;
    padding: 30px;
    gap: 30px;
  }
  .card-info {
    flex-direction: row;
  }

  .wasa {
    bottom: 20px;
    right: 30px;
    padding: 5px 10px;
  }
  .btn-finalizar {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: auto;
    padding: 5px 10px;
  }
}
