@import url(../styles/globals.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-gray-titles);
  font-family: var(--font-family);
  font-size: 1rem;
  overflow: hidden;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.hojas-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.back-login {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-pink-buttons);
  z-index: 20;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
  padding: 0 2rem;
  z-index: 10;
}

.box-input {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4rem 0 4rem 0;
}

.box-input input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid var(--color-pink-buttons);
  font-size: 1rem;
}
input:focus {
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--color-pink-buttons);
  box-shadow: 0 0 5px var(--color-light-pink-shadow);
}
input::placeholder {
  color: var(--color-gray-titles);
  font-weight: bold;
  font-size: 1rem;
}

.box-input svg {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

button {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--color-pink-buttons);
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}
button:hover {
  background-color: var(--color-pink-hover);
  box-shadow: 0 0 5px var(--color-light-pink-shadow);
}

.error {
  position: absolute;
  left: 5px;
  bottom: -45px;
  margin-top: 4px;
  font-size: 0.9em;
  color: var(--color-red-error);
}

/* MEDIA QUERYS */

@media (max-width: 500px) {
  body {
    font-size: 0.7rem;
  }
  form {
    width: 100%;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}