@import url(/styles/globals.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/recursos/hojas-arriba.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 5%;
  overflow: hidden;
}

main {
  width: 90%;
}

/* Los estilos del header ya se cargan desde header.css */
/* Los estilos del sidebar ya se cargan desde sidebar.css */

.edit-modal {
  width: 200px;
  height: 130px !important;
}
.icon-edit-modal {
  width: 15px;
}

nav {
  padding: 30px 102px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.right-column {
  width: 80%;
  height: 70vh;
  background-color: red;
}

.right-bottom {
  position: relative;
}

.dashboard-options {
  display: flex;
  gap: 30px;
  position: absolute;
  top: -35px;
}
.dashboard-options button {
  font-size: 1rem;
  font-weight: bold;

  height: 20px;
  border: none;
  color: var(--color-gray-titles);
  background: none;
  cursor: pointer;
}

.dashboard-options button:hover {
  color: var(--color-pink-hover);
}

.label-box {
  margin-bottom: 10px;
}

.label-box span {
  color: var(--color-wine);

  display: inline-block;
  width: max-content;
  background-color: var(--background-color);
  padding: 8px 50px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-borders);
  height: fit-content;
}

/* //cards */
.cards-area {
}

/* cards fin */

.none {
  display: none;
}

.block {
  display: block;
}

/* Media querys */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
  }

  .left-column.active {
    max-height: 500px;
    padding: 20px;
  }

  .right-column {
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 600px) {
  .edit-modal {
    width: 145px;
    height: 80px;
  }
  nav {
    width: 100px;
  }
  nav li {
    padding: 0 11px;
  }
}

@media (max-width: 550px) {
  body {
    position: relative;
  }

  section {
    flex-direction: column;
    align-items: center;
  }

  .box-contenido {
    height: 800px;
  }

  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    z-index: 20;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
    border: none;
    background: #fff;
    box-shadow: 1px 1px 5px var(--color-gray-borders);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  nav li {
    padding: 0;
  }

  .li-location {
    border-left: none;
  }

  nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-gray-titles);
  }

  .icon-nav {
    width: 25px;
  }
  .icon-cursos {
    width: 29px;
  }

  .location {
    background-color: transparent;
    color: var(--color-pink-hover);
    fill: var(--color-pink-hover);
  }
}

@media (max-width: 480px) {
  .edit-modal {
    top: 30px;
    right: 10px;
    width: 150px;
  }
}

@media (max-width: 380px) {
  nav ul {
    gap: 0;
  }
  nav a {
    gap: 5px;
  }
}
