:root{
    --color-pink-buttons: #bf005a;
    --color-wine: #80003c;
    --color-gray-titles: #4d4d4d;
    --color-pink-hover: #ff0078;
    --color-light-pink-shadow: #ffc5e2; 
    --color-green: #48cd80;
    --color-gray-borders: #cbcbcb;
}