@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-pink-buttons: #bf005a;
    --color-wine: #80003c;
    --color-gray-titles: #4d4d4d;
    --color-pink-hover: #ff0078;
    --color-light-pink-shadow: #ffc5e2; 
    --color-green: #48cd80;
    --color-gray-borders: #cbcbcb;
    --background-color: #fbfbfb;

    --font-size: 62.5%;
    --font-h1: 2rem;
    --font-button: 1.6rem;
    --font-links: 1.2rem;
    --font-mini: 0.8rem;

    /* Medidas */
    --width: 30%;
    --height: 70%;
    --border-login: 3px solid #cbcbcb;
    --border-radius-login: 24px;

    /* Font Family */
    --font-family: 'Montserrat', sans-serif;
}

.icon {
    width: 1.875rem;
    height: 1.875rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
/* 
box shadow */

box-shadow: 12px 14px 12px -2px rgba(203,203,203,0.7);
-webkit-box-shadow: 12px 14px 12px -2px rgba(203,203,203,0.7);
-moz-box-shadow: 12px 14px 12px -2px rgba(203,203,203,0.7);