    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
    html{
        font-size: 62,5%;
    }

   body {
            margin: 0;
            padding: 0;
            background-image: url(/assets/recursos/bars-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100vh; /* Asegura que el body ocupe toda la pantalla */
            font-family: 'Montserrat', sans-serif;
        }

        .form-box{
            background-color:aliceblue ;
        }
