@import url(/styles/globals.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/recursos/hojas-arriba.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
}

section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.sidebar{
    width: 20%;
    height: auto;
}

.perfil-box{
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border: 1px solid var(--color-gray-borders);
    border-radius: 10px;
    background-color: var(--background-color);
}

.img-box{
    width: 80%;
    min-height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-gray-borders);
    margin-bottom: 20px;
}

.credenciales{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-label{
    font-size: .8rem;
    text-align: left;
    padding: 5px 0 5px 0;
}

.credenciales-input{
    width: 100%;
    padding: 2px;
    outline: none;
}

.credenciales-input:focus{
    border: 2px solid var(--color-wine);
}

.back{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-titles);
    text-decoration: none;
}

.back:hover{
    color: var(--color-pink-hover);
    text-decoration: underline;
}

.content-box{
    width: 80%;
    height: auto;
    padding: 10px;
}

.data-box{
    width: 100%;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.left-content{
    width: 50%;
}

.right-content{
    width: 50%;
}

.data{
    width: 100%;
    padding: 5px 0;
}

.data p{
    font-size: 16px;
    padding: 2px 0;
    color: var(--color-gray-titles)
}

.data input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-gray-borders);
}

.data input:focus{
    outline-color: var(--color-wine);
}

.edit-btn{
    width: 80px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--color-wine);
}

.edit-btn:hover{
    background-color: var(--color-pink-hover);
}