@import url(/styles/globals.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
        
body {
  background-image: url(/assets/recursos/hojas-arriba.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.back-login {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: .5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-pink-buttons);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100vh;
  padding: 0 2rem;
  z-index: 10;
}

.box-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 4rem 0 4rem 0;
}

.box-input-password {
  position: relative;
  width: 100%;
}

/* .box-eye {

} */

.icon-tabler-eye{
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon-tabler-eye-off{
  display: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.box-input input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid var(--color-pink-buttons);
  font-size: 1rem;
}
input:focus {
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--color-pink-buttons);
  box-shadow: 0 0 5px var(--color-light-pink-shadow);
}
input::placeholder {
  color: var(--color-gray-titles);
  font-weight: bold;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--color-pink-buttons);
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}
button:hover {
  background-color: var(--color-pink-hover);
  box-shadow: 0 0 5px var(--color-light-pink-shadow);
}

.none{
  display: none;
}

.block{
  display: block;
}

/* MEDIA QUERYS */

@media (max-width: 400px) {
  body {
    font-size: 0.7rem;
  }
  form {
    width: 100%;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}