@import url(../styles/globals.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: var(--font-size);
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/recursos/bars-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family);
}

.box-center{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-img{
    width: 60px;
    margin-bottom: 16px;
}

.form{
    width: 300px;
    height: 320px;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    border: var(--border-login);
    border-radius: var(--border-radius-login);
    box-shadow: 1px 2px 10px var(--color-gray-borders);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title{
    margin: 20px 0;
}

h1{
    font-size: 2rem;
    color: var(--color-gray-titles);
}

.form-item{
    width: 100%;
    margin-top: 15px;
}

.form-input{
    width: 100%;
    padding: .5rem 0;
    border: none;
    border-bottom: 2px solid var(--color-pink-buttons);
    background-color: var(--background-color);
    outline: none;
}

.form-input:focus{
    border-bottom: 2px solid var(--color-pink-hover);
    transition: 1s ease;
}

.btn{
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius-login);
    border: none;
    background-color: var(--color-pink-buttons);
    color: var(--background-color);
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-pink-hover);
    transition: 1s ease;
}

.form-link{
    margin-top: 15px;
}

a{
    color: var(--color-gray-titles);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

a:hover{
    color: var(--color-pink-hover);
    text-decoration: underline;
}

.img-modelo{
    width: 50%;
    height: 100vh;
    margin-right: 50px;
}