@import url(../styles/globals.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/recursos/bars-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-family);
}

.box-center {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-img {
  width: 60px;
  margin-bottom: 16px;
}

.form {
  width: 60%;
  height: auto;
  background-color: var(--background-color);
  padding: 40px;
  border: 3px solid var(--color-gray-borders);
  border-radius: var(--border-radius-login);
  box-shadow: 12px 14px 12px -2px rgba(203, 203, 203, 0.7);
  -webkit-box-shadow: 12px 14px 12px -2px rgba(203, 203, 203, 0.7);
  -moz-box-shadow: 12px 14px 12px -2px rgba(203, 203, 203, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin: 20px 0;
}

h1 {
  font-size: 2rem;
  color: var(--color-gray-titles);
}

.form-item {
  width: 100%;
  margin-top: 18px;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid var(--color-wine);
  background-color: var(--background-color);
  outline: none;
}

.form-input::placeholder {
  font-size: 1.5rem;
  opacity: 100%;

  color: var(--color-gray-titles);
}

.form-input:focus {
  border-bottom: 2px solid var(--color-pink-hover);
  transition: 0.6s all;
}

.btn {
  width: 100%;
  padding: 1.6rem;
  border-radius: var(--border-radius-login);
  border: none;
  background-color: var(--color-pink-buttons);
  color: var(--background-color);
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
}

.btn:hover {
  background-color: var(--color-pink-hover);
  transition: 0.2s all;
}

.form-link {
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: var(--color-gray-titles);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

a:hover {
  color: var(--color-pink-hover);
}

.img-modelo {
  width: auto;
  max-width: 60%;
  height: auto;
  max-height: 90%;
  align-self: flex-end;
  margin-right: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .img-modelo {
    display: none;
  }

  .box-center {
    width: 100%;
    padding-top: 30px;
  }

  .box-center form {
    width: 90%;
  }

  h1 {
    font-size: 1.6rem;
  }
  .form-input::placeholder {
    font-size: 1.2rem;
  }

  .logo-img {
    width: 60px;
  }
.btn{
  padding: 8px 0;
}
  a {
    font-size: 1.2rem;
  }
  .form-item {
    margin-top: 30px;
  }
  .box-center {
    justify-content: flex-start;
  }
}
