@import url(../styles/globals.css);

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/recursos/hojas-arriba.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-family);

  display: flex;
  justify-content: center;
}

main {
  width: 90%;
}

/* Los estilos del header se aplican desde header.css */
/* Los estilos del sidebar se aplican desde sidebar.css */

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.box-contenido {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 20px;
}

.filter {
  position: absolute;
  top: -35px;
}

.filter button {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  padding: 0 5px;
  border: none;
  color: var(--color-gray-titles);
  background: none;
  cursor: pointer;
}
.filter button:hover {
  color: var(--color-pink-hover);
  border-bottom: 5px solid var(--color-pink-hover);
}

.none {
  display: none;
}

.block {
  display: block;
}

.contenido {
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
  overflow-x: hidden; /* Evita scroll horizontal */
  box-sizing: content-box;
}

.box-cards {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Mejor para tablets y mobile */
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden; /* Evita scroll horizontal */
  box-sizing: content-box;
}

.box-cards::-webkit-scrollbar {
  margin-left: 10px;
  width: 5px;
  background-color: var(--color-light-pink-shadow);
}
.box-cards::-webkit-scrollbar-thumb {
  background: var(--color-wine);
  border-radius: 20px;
}

.card-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid var(--color-gray-borders, #bbb);
  border-radius: 12px;
  padding: 18px 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px #0001;
  min-height: 180px;
  transition: box-shadow 0.2s;
  max-width: 100%;
  height: max-content;
}

.card-style svg {
  width: 12px;
  height: auto;
  fill: var(--color-gray-titles);
}

.card-style:hover {
  box-shadow: 0 4px 16px #0002;
}

.card-todos,
.card-aprobados,
.card-rechazados {
  padding-bottom: 30px;
}

.card-img {
  position: relative;
  width: 130px;
  height: 140px;
  background: #80003c;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 10px;
  align-self: center;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.modal-comprobante {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.modal-comprobante.none {
  display: none !important;
}
.modal-comprobante img {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  background: #fff;
  padding: 8px;
  height: 80vh;
}
.close-modal {
  position: absolute;
  top: 32px;
  right: 48px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  z-index: 100000;
}

.card-info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  align-self: center;
  align-items: center;
}

.card-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-field {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.7rem;
}

.icon-field svg {
  margin-right: 8px;
  cursor: pointer;
}

.title-c {
  position: absolute;
  bottom: -22px;
  left: 22px;
  font-size: 10px;
}

.box-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.aprobar {
  border: none;
  background-color: #18ac0adc;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.rechazar {
  border: none;
  background-color: #da0909dc;
  padding: 6px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.aprobar:hover {
  background-color: #11ce00dc;
}
.rechazar:hover {
  background-color: #ff0000dc;
}

.e-aprobado {
  color: #17ac0abe;
  font-weight: bold;
}
.e-rechazado {
  color: #da0909be;
  font-weight: bold;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.filter button.button-active {
  color: var(--color-pink-hover);
  border-bottom: 5px solid var(--color-pink-hover);
}

@media (max-width: 1400px) {
  .box-cards {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 718px) {
  .filter button {
    font-size: 2vw;
  }
  .card-style {
    padding: 10px 4px;
    height: max-content;
  }
}
@media (max-width: 660px) {
  .filter {
    display: flex;
    gap: 10px;
  }
  .filter button {
    font-size: 2.5vw;

    margin-right: 0;
  }
  .card-img {
    margin-bottom: 18px;
  }
  .card-info {
    flex-direction: column;
    gap: 10px;
  }
  .card-style {
    padding: 30px 26px;
    display: flex;
    gap: 16px;
  }
  .card-field {
    font-size: 0.8rem;
  }
  .title-c {
    top: 0;
    left: -112px;
    font-size: 12px;
  }
}

@media (max-width: 616px) {
  .filter button {
    font-size: 3.5vw;
  }
}
