@import url(../styles/globals.css);

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/recursos/hojas-arriba.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-family);

  display: flex;
  justify-content: center;
}

main {
  width: 90%;
}

  /* Los estilos del header se aplican desde header.css */

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.sidebar {
  width: 10%;
  height: auto;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 30px 40px;
  border-radius: 8px;
  border: 2px solid var(--color-gray-borders);
  background: #fff;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav li {
  padding: 0 25px;
  list-style-type: none;
}
.li-location {
  border-left: 4px solid var(--color-pink-hover);
}

nav a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--color-gray-titles);
}
.location {
  background-color: var(--color-light-pink-shadow);
  color: var(--color-pink-hover);
  fill: var(--color-pink-hover);
}

nav a:hover {
  background-color: var(--color-light-pink-shadow);
}

nav svg {
  fill: var(--color-gray-titles);
}

.box-contenido {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: lightcoral;
}

.filter {
  position: absolute;
  top: -35px;
}

.filter button {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  padding: 0 5px;
  border: none;
  color: var(--color-gray-titles);
  background: none;
  cursor: pointer;
}
.filter button:hover {
  color: var(--color-pink-hover);
}

.none {
  display: none;
}

.block {
  display: block;
}
